[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
requests = "*"
authlib = "*"
psycopg = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
