[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
requests = "*"
authlib = "*"
psycopg2-binary = "*"
pandas = "*"
lxml = "*"
numpy = "*"
lightweight-charts = "*"
flask-cors = "*"
six = "*"
jsonify = "*"
python-jose = "*"
flask-oauth2-validation = "*"
python-dotenv = "*"
filetype = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
