{%extends "frame.html"%}
{%block content%}
<div class= "pure-g" id="mainPage">
    <div class="pure-u-1-8">
        
    </div>
    
    <div class="pure-u-1-6 sideColumn">
        {%block left%}
        {%endblock%}
    </div>
    <div class="pure-u-1-24">
        
    </div>
    <div class="pure-u-1-3 centerColumn">
        {%block center%}
        {%endblock%}
    </div>
    <div class="pure-u-1-24">
        
    </div>
    <div class="pure-u-1-6 sideColumn">
        {%block right%}
        {%endblock%}
    </div>
    <div class="pure-u-1-8">
        
    </div>

</div>
{%endblock%}