{%extends "frame.html"%}
{%block content%}
<div id="main">
    <div class="pure-g" >
        <div class="pure-u-3-24">

        </div>
        <div class="pure-u-1-4 " id="trending-div">
            {%block main%}

            {%endblock%}
        </div>
        <div class="pure-u-3-24">

        </div>
        <div class="pure-u-5-24" id="top-gain-div">
            {%block secondary%}
            
            {%endblock%}
        </div>
       
        <div class="pure-u-5-24" id="stock-view-div">
            {%block tertiary%}

            {%endblock%}
        </div>
         <div class="pure-u-2-24">

        </div>
        

    </div>
{%endblock%}