<!DOCTYPE html>

<html>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Stock Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styling/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        
    <body>
        <div class="pure-g" id="topBar">
            <div class="pure-u-3-24">
                <button id="moreButton">More</button>

            </div>
            <div class="pure-u-18-24">
                <h1>Stock Up</h1>
            </div>
            <div class="pure-u-3-24">
                <button id="profileButton">Profile</button>
            </div>
        </div>

        
        {%block content%}
        
        {%endblock%}
        
    </body>
</html>