
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Stock Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styling/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script defer src="{{ url_for('static', filename='js/stock_api.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/us.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/edit_post.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/edit_profile.js') }}"></script>
    <script src="https://kit.fontawesome.com/5d00ed0135.js" crossorigin="anonymous"></script>
</head>
<body id="html-body">

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu" id="side-bar-div">
            
            <ul id='side-bar-list' class="pure-menu-list">
                <li class="pure-menu-item menu-item-divided resize-button"><button class="pure-button side-buttons" id="stock-up" onclick="window.location.href='/'"><h1>Stock Up</h1></button></li>
                <li class="pure-menu-item menu-item-divided resize-button"><button class='pure-button side-buttons' onclick="window.location.href='/'"><i class="fa-solid fa-house fa-5x"></i></button></li>
                <li class="pure-menu-item menu-item-divided resize-button"><button id="post-button" class='pure-button side-buttons'><i class="fa-solid fa-plus fa-8x" ></i></button></li>
                <li class="pure-menu-item menu-item-divided resize-button"><button  class='pure-button side-buttons'><img src="/getAvatar"  id="user-menu-photo" onclick="window.location.href='/profile'" onerror="this.src='/static/images/profile-user.png'"/></button></li>
                <!-- <li class="pure-menu-item menu-item-divided resize-button"><button  class='pure-button side-buttons'><img src="{{userPFP}}"  id="user-menu-photo" onclick="window.location.href='/profile'" /></button></li> -->
            </ul>
        </div>
        
        
        
        

    </div>
    <div class="pure-g" id="top-space">
        

    </div>
    
        {%block content%}
        {%endblock%}
    
       
    </div>
    <div class="pure-g">
        <div class="pure-u-1-3"></div>
        <div class="post-field-visible pure-u-1-3" hidden="true" id="create-post-div">

            <form action="/Post" id="Post" method="POST" class="pure-form pure-form-stacked">
                <fieldset>
                    <legend>Create your post</legend>
                    <span class="pure-form-message">This is a required field.</span>
                    <div class="pure-u-1 pure-u-md-1-3">
                        <label for="stock">Stock</label>
                        <input list="stock-datalist" name="stock-datalist" class="pure-input-1">
                        <datalist id="stock-datalist">
                            {%for stock in splist%}
                            <option value={{stock.symbol}}>{{stock.symbol}} - {{stock.name}}</option>
                            {%endfor%}
                        </datalist>
                    </div>
                    <textarea height="15" width="40"></textarea>
                    <label for="tags" class="pure-checkbox">
                        <input type="checkbox" id="tags" name="tags"value="bullish"/>
                        <input type="checkbox" id="tags" name="tags" value="bearish"/>
                        <input type="checkbox" id="tags" name="tags" value="top-pick"/> 
                    </label>
                    <button type="submit" class="pure-button pure-button-primary">submit</button>
                </fieldset>
            </form>
            </div>
            <script src="../static/js/edit_post.js"> </script>
        
    </div>

    </div>
</div>

<footer hidden>
    <a href="https://clearbit.com" hidden>Logos provided by Clearbit</a>
    <a href="https://www.vecteezy.com/free-vector/minimal" hidden>Minimal Vectors by Vecteezy</a>
</footer>

</body>
</html>