{%extends "columns.html"%}
{%block main%}

<h1>Trending Posts</h1>
<div class="pure-g">
    <div class="pure-u-1-12">
    </div>
    <div class="pure-u-20-24">
    </div>
    <div class="pure-u-1-12">
    </div>
</div>
    
{%endblock%}

{%block secondary%}
<h2>Something stocks</h2>
<table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
        <tr>
            
            <th>Symbol</th>
            <th>Name</th>
            
        </tr>
    </thead>
    <tbody>
        {%for stock in splist%}
        <tr>
            
           <td><a href={{stock.link}}>{{stock.symbol}}</td>
            <td>{{stock.name}}</td>
            
        </tr>
        {%endfor%}
       
    </tbody>
</table>
{%endblock%}

{%block tertiary%}
<h2>Something stocks</h2>
{%endblock%}