{%extends "columns.html"%}
{%block main%}

<h2>Trending Posts</h2>
    
{%endblock%}

{%block secondary%}
<h2>Something stocks</h2>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            
            <th>Symbol</th>
            <th>Name</th>
            
        </tr>
    </thead>
    <tbody>
        {%for stock in splist%}
        <tr>
            
           <td><a href="https://finance.yahoo.com/quote/"+{{stock.symbol}}>{{stock.symbol}}</td>
            <td>{{stock.name}}</td>
            
        </tr>
        {%endfor%}
       
    </tbody>
</table>
{%endblock%}

{%block tertiary%}
<h2>Something stocks</h2>
{%endblock%}