{%extends "columns.html"%}
{%block left%}
<div class="sideBarHeaders">
    <h3>
        Rising Stocks
    </h3>
    <div class="sideBarContent">
        <h2>{{topStock[0]}}</h2>
        <h2>+${{topStock[1]}}</h2>
        <h2>High ${{topStock[2]}}</h2>
        <h2>Low ${{topStock[3]}}</h2>

    </div>

</div>

{%endblock%}
{%block center%}
<div class="centerTrendingHeader">
    <h3>
        Trending posts
    </h3>

</div>
{%endblock%}
{%block right%}
<div class="sideBarHeaders">
    <h3>
        Falling Stocks
    </h3>

</div>

{%endblock%}
