{%extends "frame.html"%}
{%block content%}
<div id="profile-container">
    
    <table class="pure-table" id="profile-table">
        <thead>
            <tr>
                <th>profile</th>
                <th>
                <ul>
                    <li>username: {{username}}</li>
                    <li>real name: {{realname}}</li>
                    <li>avatar: <img src="/getAvatar"></li>
                </ul>
                </th>
            </tr>
            <tr>
                <th>
                    <button id="edit"> edit profile</button>
                </th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr>
                <td>1</td>
                <td>Honda</td>
                <td>Accord</td>
                <td>2009</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Toyota</td>
                <td>Camry</td>
                <td>2012</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Hyundai</td>
                <td>Elantra</td>
                <td>2010</td>
            </tr>
        </tbody> -->
    </table>

<form enctype="multipart/form-data" hidden="true" action="/editProfile" id="profileUpdate" method="POST" class="pure-form pure-form-stacked">
            <fieldset>
                <legend>update your profile</legend>
                <span class="pure-form-message">This is a required field.</span>
                <label for="multi-first-name">real name</label>
                <input name="realname"  type="text" minlength="3" id="realname" class="pure-u-23-24" />
                <label for="multi-first-name">username</label>
                <input name="username"  type="text" minlength="3" id="username" class="pure-u-23-24" />
                <input type = "file" name = "image" />
                <button type="submit" class="pure-button pure-button-primary">submit</button>
            
            </fieldset>
        </form>
    <form> 

        <form enctype="multipart/form-data" hidden="true" action="/Post" id="Post" method="POST" class="pure-form pure-form-stacked">
            <fieldset>
                <legend>Create your post</legend>
                <span class="pure-form-message">This is a required field.</span>
                <label for="multi-first-name">description</label>
                <input name="description"  type="text" minlength="3" id="realname" class="pure-u-23-24" />
                <label for="multi-first-name">username</label>
                <input name="username"  type="text" minlength="3" id="username" class="pure-u-23-24" />
                <input type = "file" name = "image" />
                <button type="submit" class="pure-button pure-button-primary">submit</button>
            
            </fieldset>
        </form>
        
    </div>

<script src="../static/js/edit_profile.js"> </script>
{%endblock%}