{%extends "frame.html"%}
{%block content%}
<div id="profile-container">
    
    <table class="pure-table" id="profile-table">
        <thead>
            <tr>
                <th>profile</th>
                <th>
                <ul>
                    <li>username: {{username}}</li>
                    <li>real name: {{realname}}</li>
                    <li>avatar: <img src="/getAvatar/{{userid}}"></li>
                </ul>
                </th>
            </tr>
            <tr>
                <th>
                    <button id="edit"> edit profile</button>
                </th>
            </tr>
        </thead>
        
    </table>
<ul>
    <ul><a>your posts</a></ul>
    {%for post in posts%}
    <ul><a>{{post[3]}}</a></ul>
    {%endfor%}
</ul>
<form enctype="multipart/form-data" hidden="true" action="/editProfile" id="profileUpdate" method="POST" class="pure-form pure-form-stacked">
            <fieldset>
                <legend>update your profile</legend>
                <span class="pure-form-message">This is a required field.</span>
                <label for="multi-first-name">real name</label>
                <input name="realname"  type="text" minlength="3" id="realname" class="pure-u-23-24" />
                <label for="multi-first-name">username</label>
                <input name="username"  type="text" minlength="3" id="username" class="pure-u-23-24" />
                <input type = "file" name = "image" />
                <button type="submit" class="pure-button pure-button-primary">submit</button>
            </fieldset>
        </form> 

        <form action="/Post" id="Post" method="POST" class="pure-form pure-form-stacked">
            <fieldset>
                <legend>Create your post</legend>
                <span class="pure-form-message">This is a required field.</span>
                <label for="multi-first-name">description</label>
                <input name="description"  type="text" minlength="3" id="postDescription" class="pure-u-23-24" />
                <label for="tags" class="pure-checkbox">
                    <input type="checkbox" id="tags" name="tags"value="bullish"/>
                    <input type="checkbox" id="tags" name="tags" value="bearish"/>
                    <input type="checkbox" id="tags" name="tags" value="top-pick"/> 
                </label>
                <div class="pure-u-1 pure-u-md-1-3">
                <label for="stock">Stock</label>
                <input list="stock">
                <datalist id="stock" name="stock" class="pure-input-1-2">
                    {%for stock in stocks%}
                        <option value=`{{stock.symbol}}`>{{stock.symbol}} - {{stock.name}}</option>
                    {%endfor%}
                </datalist>
                </div>
                <button type="submit" class="pure-button pure-button-primary">submit</button>
            </fieldset>
        </form>
        
    </div>

<script src="../static/js/edit_profile.js"> </script>
{%endblock%}