{%extends "frame.html"%}
{%block content%}
<div id="signup-container">
    
    <form action="/submitUser" method="POST" class="pure-form pure-form-stacked">
        <fieldset>
            <legend>CSCI 5117 survey Maurice Yu and Brady Doyle</legend>
            <span class="pure-form-message">This is a required field.</span>
            <div class="pure-control-group">
                <label for="aligned-name">Username</label>
                <input type="text" id="aligned-name" name="username" placeholder="Username" />
                <span class="pure-form-message-inline">This is a required field.</span>
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Realname</label>
                <input type="password" id="aligned-password" name="realname" placeholder="Password" />
            </div>
            <button type="submit" class="pure-button pure-button-primary">submit</button>
        </fieldset>
    </form>
</div>

{%endblock%}