{%extends "focus_view.html"%}


{%block focus%}
<form method="GET" id="stockForm">
    <input list="stock" name="stock">
    <datalist id="stock" class="pure-input-1-2">
        {%for stock in stocks%}
        <option value={{stock.symbol}}>{{stock.symbol}} - {{stock.name}}</option>
        {%endfor%}
    </datalist>

    <button type="submit" class="pure-button">Search</button>
</form>
<div class="pure-g">


<h1 class="pure-u-1-2">Symbol: {{stockData.symbol}}</h1>
<h1 class="pure-u-1-2">Date of Data: {{stockData.from}}</h1>
</div>
<div clas="pure-g">
    <h1>Open Price: {{stockData.open}}</h1>
    <h1>Close Price: {{stockData.close}}</h1>
    <h1>High: {{stockData.high}}</h1>
    <h1>Low: {{stockData.low}}</h1>
    <h1>Volume: {{stockData.volume}}</h1>
</div>
<script src="../static/js/stock_api.js"></script>
{%endblock%}