*{
    font-size:12px;
}
body{
    margin:0;
    background-color: #0C1D48;
}
#topBar>*{
    background-color: #000939;
    height: 10vh;
}
#mainPage{
    position:absolute;
    height:100%;
    width:100%;
}
.sideColumn, .centerColumn{
    margin-top:5%;
    border-style: solid;
    text-align: center;
    
    height: 100%;
    text-align: center;
}
div h1{
    font-size: medium;
    margin-top: 0;
}

.sideBarHeaders{
    
    height:8vh;
    width:100%;
    background-color:black;
    color:white;

}
.centerTrendingHeader{
    background-color: black;
    height:8vh;
    color:white;
}
h3{
    margin-top:0;
}

.sideBarContent{
    background-color: #000939;
    height:100%;
    width:100%;
}